## Домашнее задание по первому уроку PANDAS
Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера.
Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd
ratings =r'C:\Users\egor\ml-latest-small\ratings.csv'
data = pd.read_csv(ratings)
# data. info()
data. head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [2]:
# data.sort_values(by = ['rating','movieID'],ascending=[True,True])
# transactions_csv.Product.value_counts(normalize=True).head(1)
# data.groupby('userId').count().sort_values('movieId', ascending= False).head()
data.sort_values(by =['movieId','rating'],ascending=[True,False], inplace=True)
data.head()

      userId  movieId  rating  timestamp
4879      31        1     5.0  850466616
5555      40        1     5.0  832058959
6315      43        1     5.0  848993983
6876      46        1     5.0  834787906
8035      57        1     5.0  965796031

In [70]:
data = pd.read_csv(ratings)
data[data['rating'] == 5][['movieId','rating']].groupby('movieId').\
    count().sort_values(by =['rating'],ascending=[False]).head(1)

         rating
movieId
318         153

In [15]:
movies = pd.read_csv(r'C:\Users\egor\ml-latest-small\movies.csv')
data1 = data[data['rating'] == 5][['movieId', 'rating']].groupby('movieId').\
    count().sort_values(by=['rating'],ascending=[False]).head(5)
# joined = data.merge(movies, on='movieId', how='left')
data1.merge(movies, on='movieId')
# merge(movies, on='movieId')

,movieId,rating,title,genres
0,318,153,"Shawshank Redemption, The (1994)",Crime|Drama
1,296,123,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
2,356,116,Forrest Gump (1994),Comedy|Drama|Romance|War
3,2571,109,"Matrix, The (1999)",Action|Sci-Fi|Thriller
4,260,104,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики
(Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года.
Не учитывайте в расчетах отрицательные значения quantity.

In [16]:
power_csv = pd.read_csv('power.csv')
power_csv.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [79]:
# print(data[data['country'].str.contains('us', case=False)]['country'].unique())
# data [data['country'].isin(['Russian Federation','Belarus'])]['country'].unique()
# power_csv[power_csv['country'].str.contains('sto',case=False)]
power_csv = power_csv[power_csv['country'].isin(['Latvia','Lithuania', 'Estonia'])][power_csv['quantity'] >0]\
    [power_csv['category'].isin([4,12,21])] \
    [(power_csv['year'] >= 2005) & (power_csv['year'] <= 2010) ].sort_values('year', ascending=True)
print(power_csv.sum())
f'Cуммарное потребление стран Прибалтики (Латвия, Литва и Эстония) ' \
f'категорий 4, 12 и 21 за период с 2005 по 2010 года -  {power_csv["quantity"].sum()}'

country     LithuaniaLatviaLithuaniaEstoniaLithuaniaEstoni...
year                                                   696607
quantity                                               240580
category                                                 5943
dtype: object

'Cуммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года -  240580.0'

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [75]:
curse = pd.read_html('https://fortrader.org/quotes')[0]
curse

,Название,Цена,Изменение,Изменение(%),Обновлено
0,EURRUB Курс евро к рублю сегодня,84.3833,0.9637,1.1552,NaN
1,USDRUB Курс рубля к доллару,71.8094,0.2143,0.2993,NaN