In [5]:
import pandas as pd
ratings1 = r'C:\Users\egor\ml-latest-small\ratings.csv'
ratings2 =r'C:\Users\egor\ml-latest\ratings.csv'

data = pd.read_csv(ratings1)
# общая информация
data. info()
# количество уникальныйх элементов
len(data.movieId.unique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

9724

In [ ]:
# количество уникальныйх элементов
data.groupby('userId').count().sort_values('movieId', ascending= False).head()

In [ ]:
# время жизни пользователя
time_live_user = data.groupby('userId').agg([min,max])
time_live_user['diff'] = time_live_user['timestamp']['max'] - time_live_user['timestamp']['min']
time_live_user['diff'].mean()/24/ 3600

In [ ]:
# join
movies =  pd.read_csv(r'C:\Users\egor\ml-latest-small\movies.csv')
movies.head()
joined = data.merge(movies, on='movieId', how='left')
joined.head()

### Основы pandas
#### Пример забора данных с сайта

In [2]:
import pandas as pd
print('asd')
pd.read_html('http://www.cbr.ru')[0]

asd

  Курсы валют с 24.07.2020 с 25.07.2020
0  Доллар США     70,9630₽     71,5974₽
1        Евро     82,1893₽     83,1031₽

In [2]:
power_csv = pd.read_csv('power.csv', sep=',', header=0)
# вывести голову

In [20]:
print(data.shape)
data['new_year'] = data['year']+1
data

(1189482, 5)

          country  year  quantity  category  new_year
0         Austria  1996       5.0         1      1997
1         Austria  1995      17.0         1      1996
2         Belgium  2014       0.0         1      2015
3         Belgium  2013       0.0         1      2014
4         Belgium  2012      35.0         1      2013
...           ...   ...       ...       ...       ...
1189477  Viet Nam  2012      92.0        71      2013
1189478  Viet Nam  2011      87.0        71      2012
1189479  Viet Nam  2010      50.0        71      2011
1189480  Viet Nam  2009      10.0        71      2010
1189481  Viet Nam  2008       1.0        71      2009

[1189482 rows x 5 columns]

In [4]:
import pandas as pd
transactions_csv = pd.read_csv('transactions.csv')
transactions_csv.info()
print(transactions_csv.shape)
transactions_csv.to_csv('qwe.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Year     60 non-null     int64
 1   Month    60 non-null     int64
 2   ID       60 non-null     object
 3   Product  60 non-null     object
 4   Amount   60 non-null     int64
 5   Price    60 non-null     int64
 6   Total    60 non-null     int64
 7   Cost     60 non-null     int64
dtypes: int64(6), object(2)
memory usage: 3.9+ KB
(60, 8)

### Основные сведения о датафрейме

In [5]:
power_csv.info()
transactions_csv.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 4 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   country   1189482 non-null  object
 1   year      1189482 non-null  int64
 2   quantity  1189482 non-null  float64
 3   category  1189482 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 36.3+ MB

         Year      Month     Amount        Price         Total         Cost
count    60.0  60.000000  60.000000    60.000000     60.000000    60.000000
mean   2017.0   7.250000   3.650000  4427.183333  14072.183333  1063.333333
std       0.0   3.337638   2.184886  2506.427558   8966.190387   902.297757
min    2017.0   1.000000   1.000000  1265.000000   1896.000000   200.000000
25%    2017.0   5.000000   2.000000  1896.000000   7584.000000   650.000000
50%    2017.0   7.000000   3.000000  3760.000000  11280.000000   800.000000
75%    2017.0  10.250000   5.000000  5175.000000  17236.000000  1200.000000
max    2017.0  12.000000  10.000000  8618.000000  37600.000000  4200.000000

## Отдельный столбец (тиа Series)

In [12]:
transactions_csv.head()
print(type(transactions_csv.Month))
print(type(transactions_csv))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [20]:
print(transactions_csv.Month.unique())
# Подсчитать количество повторений
print(transactions_csv.Month.value_counts())
transactions_csv.Month.value_counts(normalize=True)

[ 1  2  3  4  5  6  7  8  9 10 11 12]
11    8
5     8
12    7
9     6
4     6
7     5
6     5
10    4
2     4
8     3
3     2
1     2
Name: Month, dtype: int64

11    0.133333
5     0.133333
12    0.116667
9     0.100000
4     0.100000
7     0.083333
6     0.083333
10    0.066667
2     0.066667
8     0.050000
3     0.033333
1     0.033333
Name: Month, dtype: float64

УпражнениеИспользуем файл transactions.csv.
Определите какой товар (столбец Product) упоминается в файле чаще всего?

In [5]:
transactions_csv.Product.value_counts(normalize=True).head(1)

NameError: name 'transactions_csv' is not defined

# Фильтры

In [2]:
import pandas as pd
data = pd.read_csv('power.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 4 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   country   1189482 non-null  object
 1   year      1189482 non-null  int64
 2   quantity  1189482 non-null  float64
 3   category  1189482 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 36.3+ MB

In [4]:
# метод filter устаревший
# country_stats = data.filter(['country','quantity'])
# country_stats.head()
country_stats = data[['country','quantity']]
print(country_stats)

          country  quantity
0         Austria       5.0
1         Austria      17.0
2         Belgium       0.0
3         Belgium       0.0
4         Belgium      35.0
...           ...       ...
1189477  Viet Nam      92.0
1189478  Viet Nam      87.0
1189479  Viet Nam      50.0
1189480  Viet Nam      10.0
1189481  Viet Nam       1.0

[1189482 rows x 2 columns]

### Отфильтруем строки с потреблением выше среднего

In [5]:
average_quant = data['quantity'].mean()
print(f'quantity > {average_quant:.2f}')
print(country_stats.query(f'quantity > {average_quant}'))

quantity > 184264.77
                    country  quantity
3228          United States  367987.0
3229          United States  384439.0
3230          United States  370625.0
3231          United States  310909.0
3232          United States  335418.0
...                     ...       ...
1178016  Russian Federation  216500.0
1178017  Russian Federation  218300.0
1178022        South Africa  192900.0
1178029       United States  207400.0
1178030       United States  472100.0

[28093 rows x 2 columns]

In [6]:
country_stats[country_stats.quantity > average_quant].head()

            country  quantity
3228  United States  367987.0
3229  United States  384439.0
3230  United States  370625.0
3231  United States  310909.0
3232  United States  335418.0

Как определить используемый вариант названия страны?

In [6]:
print(data['country'].unique())
data.country.unique()

['Austria' 'Belgium' 'Czechia' 'Finland' 'France' 'Greece' 'Hungary'
 'Italy' 'Korea, Republic of' 'Netherlands' 'Romania' 'Serbia' 'Slovakia'
 'Ukraine' 'United Kingdom' 'United States' 'Brunei Darussalam' 'Bulgaria'
 'Canada' 'Chile' 'Croatia' 'Iran (Islamic Rep. of)' 'Jordan' 'Lithuania'
 'Mexico' 'Oman' 'Other Asia' 'Poland' 'Portugal' 'Spain' 'Sweden'
 'Switzerland' 'T.F.Yug.Rep. Macedonia' 'Turkey' 'Uzbekistan' 'Argentina'
 'Colombia' 'Germany' 'Norway' 'Australia' 'China, Macao SAR' 'Japan'
 'Denmark' 'Ireland' 'Philippines' 'Bangladesh' 'Eritrea' 'Ethiopia'
 'Lesotho' 'Nepal' 'Niger' 'Pakistan' 'Serbia and Montenegro' 'Tunisia'
 'Botswana' 'Georgia' 'Republic of Moldova' 'Peru' 'South Africa'
 'Iceland' 'Latvia' 'Luxembourg' 'Cuba' 'Kyrgyzstan' 'Singapore'
 'Thailand' 'United Arab Emirates' 'Uruguay' 'Armenia' 'Fiji'
 "Korea, Dem.Ppl's.Rep." 'Russian Federation' 'Swaziland' 'Zimbabwe'
 'Afghanistan' 'Antigua and Barbuda' 'Azerbaijan' 'Bahamas' 'Belize'
 'Bolivia (Plur. State of)' 'Brazil' 'Burkina Faso' 'Cameroon'
 'Cayman Islands' 'Central African Rep.' 'China' 'Comoros' 'Congo'
 'Costa Rica' "Côte d'Ivoire" 'Dem. Rep. of the Congo'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Estonia'
 'Ethiopia, incl. Eritrea' 'Faeroe Islands' 'French Guiana'
 'Germany, Fed. R. (former)' 'Greenland' 'Guatemala' 'Guinea' 'Guyana'
 'Honduras' 'Indonesia' 'Israel' 'Jamaica' 'Jersey' 'Kazakhstan' 'Kenya'
 'Kuwait' "Lao People's Dem. Rep." 'Liberia' 'Libya' 'Malawi' 'Malaysia'
 'Maldives' 'Mauritania' 'Mayotte' 'Morocco' 'Myanmar' 'Namibia'
 'New Caledonia' 'New Zealand' 'Nicaragua' 'Niue' 'Panama'
 'Papua New Guinea' 'Paraguay' 'Sao Tome and Principe' 'Senegal'
 'Seychelles' 'Slovenia' 'Solomon Islands' 'Sri Lanka' 'Sudan (former)'
 'Suriname' 'Togo' 'Tonga' 'Trinidad and Tobago' 'United Rep. of Tanzania'
 'Venezuela (Bolivar. Rep.)' 'Yugoslavia, SFR (former)' 'Zambia' 'Algeria'
 'Curaçao' 'Gabon' 'Malta' 'Neth. Antilles (former)' 'Sierra Leone'
 'USSR (former)' 'Barbados' 'Benin' 'Chad' 'Djibouti' 'French Polynesia'
 'Ghana' 'Grenada' 'Guadeloupe' 'Haiti' 'Iraq' 'Kiribati' 'Madagascar'
 'Mali' 'Martinique' 'Pacific Islands (former)' 'Palau'
 'St. Helena and Depend.' 'St. Vincent-Grenadines' 'Syrian Arab Republic'
 'Uganda' 'Yemen' 'Yemen, Dem. (former)' 'Burundi' 'India' 'Mauritius'
 'Mozambique' 'Nigeria' 'Réunion' 'Rwanda' 'Samoa' 'Somalia'
 'St. Kitts-Nevis' 'Viet Nam' 'Belarus' 'Cyprus' 'Cabo Verde' 'Albania'
 'Bahrain' 'Bosnia and Herzegovina' 'China, Hong Kong SAR'
 'Czechoslovakia (former)' 'Angola' 'Bermuda' 'Bhutan' 'Equatorial Guinea'
 'Lebanon' 'Saudi Arabia' 'St. Lucia' 'St. Pierre-Miquelon'
 'State of Palestine' 'Tajikistan' 'German Dem. R. (former)' 'Anguilla'
 'Mongolia' 'Montenegro' 'Cambodia' 'South Sudan' 'Sudan' 'Andorra'
 'Aruba' 'Bonaire, St Eustatius, Saba' 'British Virgin Islands' 'Dominica'
 'Falkland Is. (Malvinas)' 'Gambia' 'Gibraltar' 'Qatar'
 'Sint Maarten (Dutch part)' 'Turkmenistan' 'Turks and Caicos Islands'
 'Vanuatu' 'Guinea-Bissau' 'Micronesia (Fed. States of)' 'Timor-Leste'
 'Yemen Arab Rep. (former)' 'American Samoa' 'Liechtenstein' 'Puerto Rico'
 'Cook Islands' 'Guam' 'Guernsey' 'Isle of Man' 'Marshall Islands'
 'Montserrat' 'Nauru' 'Northern Mariana Islands' 'Tuvalu'
 'United States Virgin Is.' 'Wallis and Futuna Is.'
 'Commonwealth of Independent States (CIS)' 'Antarctic Fisheries']

array(['Austria', 'Belgium', 'Czechia', 'Finland', 'France', 'Greece',
       'Hungary', 'Italy', 'Korea, Republic of', 'Netherlands', 'Romania',
       'Serbia', 'Slovakia', 'Ukraine', 'United Kingdom', 'United States',
       'Brunei Darussalam', 'Bulgaria', 'Canada', 'Chile', 'Croatia',
       'Iran (Islamic Rep. of)', 'Jordan', 'Lithuania', 'Mexico', 'Oman',
       'Other Asia', 'Poland', 'Portugal', 'Spain', 'Sweden',
       'Switzerland', 'T.F.Yug.Rep. Macedonia', 'Turkey', 'Uzbekistan',
       'Argentina', 'Colombia', 'Germany', 'Norway', 'Australia',
       'China, Macao SAR', 'Japan', 'Denmark', 'Ireland', 'Philippines',
       'Bangladesh', 'Eritrea', 'Ethiopia', 'Lesotho', 'Nepal', 'Niger',
       'Pakistan', 'Serbia and Montenegro', 'Tunisia', 'Botswana',
       'Georgia', 'Republic of Moldova', 'Peru', 'South Africa',
       'Iceland', 'Latvia', 'Luxembourg', 'Cuba', 'Kyrgyzstan',
       'Singapore', 'Thailand', 'United Arab Emirates', 'Uruguay',
       'Armenia', 'Fiji', "Korea, Dem.Ppl's.Rep.", 'Russian Federation',
       'Swaziland', 'Zimbabwe', 'Afghanistan', 'Antigua and Barbuda',
       'Azerbaijan', 'Bahamas', 'Belize', 'Bolivia (Plur. State of)',
       'Brazil', 'Burkina Faso', 'Cameroon', 'Cayman Islands',
       'Central African Rep.', 'China', 'Comoros', 'Congo', 'Costa Rica',
       "Côte d'Ivoire", 'Dem. Rep. of the Congo', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Estonia',
       'Ethiopia, incl. Eritrea', 'Faeroe Islands', 'French Guiana',
       'Germany, Fed. R. (former)', 'Greenland', 'Guatemala', 'Guinea',
       'Guyana', 'Honduras', 'Indonesia', 'Israel', 'Jamaica', 'Jersey',
       'Kazakhstan', 'Kenya', 'Kuwait', "Lao People's Dem. Rep.",
       'Liberia', 'Libya', 'Malawi', 'Malaysia', 'Maldives', 'Mauritania',
       'Mayotte', 'Morocco', 'Myanmar', 'Namibia', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niue', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Sao Tome and Principe', 'Senegal', 'Seychelles',
       'Slovenia', 'Solomon Islands', 'Sri Lanka', 'Sudan (former)',
       'Suriname', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'United Rep. of Tanzania', 'Venezuela (Bolivar. Rep.)',
       'Yugoslavia, SFR (former)', 'Zambia', 'Algeria', 'Curaçao',
       'Gabon', 'Malta', 'Neth. Antilles (former)', 'Sierra Leone',
       'USSR (former)', 'Barbados', 'Benin', 'Chad', 'Djibouti',
       'French Polynesia', 'Ghana', 'Grenada', 'Guadeloupe', 'Haiti',
       'Iraq', 'Kiribati', 'Madagascar', 'Mali', 'Martinique',
       'Pacific Islands (former)', 'Palau', 'St. Helena and Depend.',
       'St. Vincent-Grenadines', 'Syrian Arab Republic', 'Uganda',
       'Yemen', 'Yemen, Dem. (former)', 'Burundi', 'India', 'Mauritius',
       'Mozambique', 'Nigeria', 'Réunion', 'Rwanda', 'Samoa', 'Somalia',
       'St. Kitts-Nevis', 'Viet Nam', 'Belarus', 'Cyprus', 'Cabo Verde',
       'Albania', 'Bahrain', 'Bosnia and Herzegovina',
       'China, Hong Kong SAR', 'Czechoslovakia (former)', 'Angola',
       'Bermuda', 'Bhutan', 'Equatorial Guinea', 'Lebanon',
       'Saudi Arabia', 'St. Lucia', 'St. Pierre-Miquelon',
       'State of Palestine', 'Tajikistan', 'German Dem. R. (former)',
       'Anguilla', 'Mongolia', 'Montenegro', 'Cambodia', 'South Sudan',
       'Sudan', 'Andorra', 'Aruba', 'Bonaire, St Eustatius, Saba',
       'British Virgin Islands', 'Dominica', 'Falkland Is. (Malvinas)',
       'Gambia', 'Gibraltar', 'Qatar', 'Sint Maarten (Dutch part)',
       'Turkmenistan', 'Turks and Caicos Islands', 'Vanuatu',
       'Guinea-Bissau', 'Micronesia (Fed. States of)', 'Timor-Leste',
       'Yemen Arab Rep. (former)', 'American Samoa', 'Liechtenstein',
       'Puerto Rico', 'Cook Islands', 'Guam', 'Guernsey', 'Isle of Man',
       'Marshall Islands', 'Montserrat', 'Nauru',
       'Northern Mariana Islands', 'Tuvalu', 'United States Virgin Is.',
       'Wallis and Futuna Is.',
       'Commonwealth of Independent States (CIS)', 'Antarctic Fisheries'],
      dtype=object)

In [25]:
# data.head()
print(data[data['country'].str.contains('us', case=False)]['country'].unique())
data[data['country'].str.contains('Rus')]['country'].unique()

['Austria' 'Brunei Darussalam' 'Australia' 'Russian Federation'
 'USSR (former)' 'Mauritius' 'Belarus' 'Cyprus'
 'Bonaire, St Eustatius, Saba']

array(['Russian Federation'], dtype=object)

In [32]:
data[(data['country'] == 'Russian Federation') |
     (data['country'] == 'Belarus')]['country'].unique()

data [data['country'].isin(['Russian Federation','Belarus'])]['country'].unique()

array(['Russian Federation', 'Belarus'], dtype=object)

In [35]:
data.loc[10:30]

    country  year  quantity  category
10  Finland  2010       9.0         1
11  Finland  2009      13.0         1
12  Finland  2008      39.0         1
13  Finland  2007      21.0         1
14  Finland  2006       0.0         1
15  Finland  2005       0.0         1
16  Finland  2004       0.0         1
17  Finland  2003       0.0         1
18  Finland  2002       0.0         1
19  Finland  2001       0.0         1
20  Finland  2000       0.0         1
21  Finland  1999       0.0         1
22  Finland  1998       0.0         1
23  Finland  1997       0.0         1
24  Finland  1996       0.0         1
25  Finland  1995       3.0         1
26   France  2014     119.0         1
27   France  2013     102.0         1
28   France  2012      62.0         1
29   France  2011      55.0         1
30   France  2010      87.0         1

# Сортировка

In [3]:
data.sort_values('quantity', ascending=False).head()

data.sort_values(by=['year','country','quantity'], ascending=[False,True,True])

data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

### Параметр inplace

In [4]:
data = data.sort_values(by=['year','country','quantity'], ascending=[False,True,True])
data.sort_values(by=['year','country','quantity'], ascending=[False,True,True],inplace=True)
data.head()

            country  year  quantity  category
362577  Afghanistan  2014     0.002        25
131237  Afghanistan  2014     0.015        14
351952  Afghanistan  2014     0.015        25
140375  Afghanistan  2014     0.036        14
478765  Afghanistan  2014     0.500        27

### Домашнее задание