In [1]:
import pandas as pd
path = r'D:\Фильмы\Лекции школы\[Нетология] Python для работы с данными (2020)\13. Функции и работа с данными\ml-latest-small'

data = pd.read_csv(fr'{path}\ratings.csv')
data.head(5)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [8]:
def rating_5(par):
    return par==5.0
data['rating_5'] = data['rating'].apply(rating_5)
data[['userId','rating','rating_5']].sort_values('rating',ascending=False)

       userId  rating  rating_5
33889     242     5.0      True
36867     265     5.0      True
46251     337     5.0      True
14749      95     5.0      True
14747      95     5.0      True
...       ...     ...       ...
76709     531     0.5     False
2530       15     0.5     False
76706     531     0.5     False
76700     531     0.5     False
68262     475     0.5     False

[100004 rows x 3 columns]

In [11]:
def see(row):
    return row['movieId']//row['rating']

data['see'] = data.apply(see,axis=1)
data.head()

   userId  movieId  rating   timestamp  rating_5    see
0       1       31     2.5  1260759144     False   12.0
1       1     1029     3.0  1260759179     False  343.0
2       1     1061     3.0  1260759182     False  353.0
3       1     1129     2.0  1260759185     False  564.0
4       1     1172     4.0  1260759205     False  293.0

In [12]:
path = r'D:\Фильмы\Лекции школы\[Нетология] Python для работы с данными (2020)\13. Функции и работа с данными\Python_13_functions_groupby'

data = pd.read_excel(fr'{path}\ad_campaigns.xlsx')
data.head()

,Название группы,Фраза (с минус-словами),Продуктивность,ID объявления,Заголовок,Текст,Ссылка
0,мрт менделеевская,"""!мрт !менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...
1,мрт цао,"""мрт менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...
2,мрт цао,мрт менделеевская -головы -позвоночника -сдела...,7.4,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...
3,мрт цао,"""!мрт !цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...
4,мрт сао,"""мрт цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...

поменять наизваине столбцов

In [19]:
# data.columns = ['group', 'phrase', 'effect', 'ad_id', 'text','link']
data.columns = ['group', 'phrase', 'effect', 'ad_id', 'title', 'text', 'link']
data.tail(10)
data.link.head()

0    https://awesome-site.ru/?utm_source=yandex&utm...
1    https://awesome-site.ru/?utm_source=yandex&utm...
2    https://awesome-site.ru/?utm_source=yandex&utm...
3    https://awesome-site.ru/?utm_source=yandex&utm...
4    https://awesome-site.ru/?utm_source=yandex&utm...
Name: link, dtype: object

In [50]:
from urllib import parse

def compain_name(row):
    parsed = parse.urlsplit(row['link'])
    parsed_d = parse.parse_qs(parsed.query)
    return parsed_d['utm_campaign'][0]
data['compain'] = data.apply(compain_name,axis=1)
# data.parsed.loc[0]
# print(q)
data.head()

,group,phrase,effect,ad_id,title,text,link,parsed,compain
0,мрт менделеевская,"""!мрт !менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,a825749b87,a825749b87
1,мрт цао,"""мрт менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,a825749b87,a825749b87
2,мрт цао,мрт менделеевская -головы -позвоночника -сдела...,7.4,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,a825749b87,a825749b87
3,мрт цао,"""!мрт !цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,9cc0c5f6ca,9cc0c5f6ca
4,мрт сао,"""мрт цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,9cc0c5f6ca,9cc0c5f6ca

ГРУППИРОВКИ В PANDAS

In [61]:
# data.groupby('compain').count()[['group','effect']]
data.groupby('compain').count()[['group','effect']].reset_index()

        compain  group  effect
0    034ada41b6      3       3
1    03fcaecd1d      2       2
2    0697a81555      2       2
3    08cdcb57a3      3       3
4    0f0ba311fb      2       2
..          ...    ...     ...
110  f6d2ae1e3d    220     220
111  f80e902d76      1       1
112  fbed7afb58      3       3
113  fe6fa9154a      2       2
114  fedd9b9cc0      2       2

[115 rows x 3 columns]

In [85]:
p = data.groupby('compain').aggregate({'effect': ['min', 'max']})
p['effect']['min'].head()

compain
034ada41b6    4.1
03fcaecd1d    4.0
0697a81555    4.0
08cdcb57a3    5.5
0f0ba311fb    4.4
Name: min, dtype: float64

In [3]:
import pandas as pd
import datetime
path = r'D:\Фильмы\Лекции школы\[Нетология] Python для работы с данными (2020)\13. Функции и работа с данными\ml-latest-small'

data = pd.read_csv(fr'{path}\ratings.csv')
data['date'] = data.timestamp.apply(lambda x: datetime.datetime.fromtimestamp(x))
data.head()

   userId  movieId  rating   timestamp                date
0       1       31     2.5  1260759144 2009-12-14 05:52:24
1       1     1029     3.0  1260759179 2009-12-14 05:52:59
2       1     1061     3.0  1260759182 2009-12-14 05:53:02
3       1     1129     2.0  1260759185 2009-12-14 05:53:05
4       1     1172     4.0  1260759205 2009-12-14 05:53:25