## Библиотека matplotlib

In [3]:
from pylab import rcParams
rcParams['figure.figsize'] = 12,9
import matplotlib.pyplot as plt
import pandas as pd
# plt.rc_context({'axes.edgecolor':'orange', 'xtick.color':'red', 'ytick.color':'green'})
plt.rc_context({'xtick.color':'white', 'ytick.color':'white'})
path = r'D:\Фильмы\Лекции школы\[Нетология] Python для работы с данными (2020)\16. Библиотека Matplotlib & Seaborn. Визуализация данных\16 лекция. Визуализация данных\names'

### Модуль pyplot
plt. plot(x,y) - построение линейного графика
plt. scatter(x,y) - построение точечной диаграммы
plt. bar(x,y) - построение столбчатой диаграммы
plt. hist(x,y) - построение гистограммы
plt. pie(x,y) - построение круговой диаграммы
plt. boxplot(x,y) - построение boxplot диаграммы ( Ящик с усами)
plt. show - отобразить визуализацию

In [ ]:
# d = pd.DataFrame(range(100))
# d.plot()
plt.plot([2,5,7,8,9,20,6,7,8,89])
plt.plot([34,30,24,19,17,10,8])

In [ ]:
path = r'D:\Фильмы\Лекции школы\[Нетология] Python для работы с данными (2020)\16. Библиотека Matplotlib & Seaborn. Визуализация данных\16 лекция. Визуализация данных\names'

table = pd.read_csv(rf'{path}\yob1880.txt', names=['name', 'gender', 'count'])
vis = table.loc[table['gender'] == 'F'].head(15)
plt.bar(vis.name)

In [ ]:
table = pd.read_csv(rf'{path}\yob2017.txt', names=['name', 'gender', 'count'])
vis = table.loc[table['gender'] == 'F'].head(15)
plt.barh(vis['name'],vis['count'])
plt.xlabel('quantity')
plt.grid()

Построим линейчатый график раседеления колличества имен в разрезе пола (количество мальчикив и девочек) с 1880 по 2017

In [4]:
name_by_yaar = {}
for year in range(1880, 2018):
    name_by_yaar[year] = pd.read_csv(rf'{path}\yob{year}.txt', names=['name', 'gender', 'count'])

In [16]:
# name_by_yaar[1881]
name_all = pd.concat(name_by_yaar)
name_all.info()
name_all = pd.concat(name_by_yaar)
name_all.reset_index(level=1, drop=True)
name_all.info()
name_all

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1924665 entries, (1880, 0) to (2017, 32468)
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   name    object
 1   gender  object
 2   count   int64
dtypes: int64(1), object(2)
memory usage: 55.3+ MB
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1924665 entries, (1880, 0) to (2017, 32468)
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   name    object
 1   gender  object
 2   count   int64
dtypes: int64(1), object(2)
memory usage: 55.3+ MB

                 name gender  count
1880 0           Mary      F   7065
     1           Anna      F   2604
     2           Emma      F   2003
     3      Elizabeth      F   1939
     4         Minnie      F   1746
...               ...    ...    ...
2017 32464      Zykai      M      5
     32465     Zykeem      M      5
     32466      Zylin      M      5
     32467      Zylis      M      5
     32468      Zyrie      M      5

[1924665 rows x 3 columns]

In [ ]:
gender_dynamics = name_all.groupby([name_all.index, 'gender']).sum()
gender_dynamics.unstack('gender').plot()

In [10]:
names={'name': [1,2], 'gender': [2,3], 'count': [3,4]}
names_w = pd.DataFrame(names)
names_w

   name  gender  count
0     1       2      3
1     2       3      4

In [11]:
names1={'name': [3,4], 'gender': [5,6], 'count': [7,8]}
names_w1 = pd.DataFrame(names1)
names_w1

   name  gender  count
0     3       5      7
1     4       6      8

In [12]:
dict_ = {1980:names_w, 1981: names_w1}
dict_

{1980:    name  gender  count
 0     1       2      3
 1     2       3      4,
 1981:    name  gender  count
 0     3       5      7
 1     4       6      8}

In [20]:
names_w12 = pd.concat(dict_).reset_index(level=1, drop=True)
print(names_w12)
names_w12.info()

      name  gender  count
1980     1       2      3
1980     2       3      4
1981     3       5      7
1981     4       6      8
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 1980 to 1981
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      int64
 1   gender  4 non-null      int64
 2   count   4 non-null      int64
dtypes: int64(3)
memory usage: 128.0 bytes